%blockquote {
  background: rgba($green, 0.15);
  border-left: 1rem rgba($green, 0.5) solid;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.45;
  margin: 0;
  padding: 1rem;
  padding-left: 1rem;
}
