@import '../../styles/variables';

@import '../../styles/index';

#home {
  font-size: 1.3rem;

  .block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;

    &:not(#bio) {
      display: none;
    }

    p {
      margin: 0.5rem 0;
    }
  }

  #bio {
    font-size: 1rem;
    grid-row: span 3;
  }

  #copyright {
    display: block;
    grid-column: 1 / -1;
    margin: 0;
  }

  i {
    color: $black;
    font-size: 2em;
    margin-bottom: 1rem;
  }

  @media (min-width: $xs-sm) {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;

    .block {
      display: flex;
      margin: 0;

      &:not(#bio) {
        display: flex;
      }

      &.wide {
        grid-column: span 2;
      }
    }
  }
  @media (min-width: $md-lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
    height: 100%;

    .block:not(#bio) {
      display: flex;
    }
  }
}
